/* Font importing */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Common elements */
body, h4, p {
  margin: 0;
}

body * {
  font-family: "Roboto", sans-serif;
}

/* Header, Footer */
header,
footer {
  background-color: #1f2937;
  color: #e5e7eb;
  display: flex;
  padding: 2vw 10vw;
}

header {
  justify-content: space-between;
  align-items: center;
}

footer {
  justify-content: center;
}

header h4 {
  font-size: min(3vw, 24px);
  color: #f9faf8;
}

header nav {
  display: flex;
  gap: 1em;
  color: #e5e7eb;
  font-size: min(2vw, 18px);
}

/* Main */
main {
  display: flex;
  flex-direction: column;
}

.sign-up-button {
  background-color: #3882f6;
  border-color: inherit;
  color: #ffffff;
  border-radius: 10px;
  border-width: 3px;
  width: min(25vw, 150px);
  height: min(8vw, 40px);
  aspect-ratio: 125/40;
  font-weight: bold;
  font-size: min(2.5vw, 16px);
}

/* Main Section */
#main-title {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4vw 10vw;
  gap: 1vw;
}

#main-title * {
  margin: 0;
}

#main-title .title-content {
  display: flex;
  flex-flow: column;
  flex: 1 1 0px;
  gap: 0.5vw;
}

#main-title h1 {
  color: #f9faf8;
  font-size: min(8vw, 48px);
  font-weight: bolder;
}

#main-title p {
  color: #e5e7eb;
  font-size: min(2.66vw, 16px);
}

#main-title .image-container {
  aspect-ratio: 52/24;
  object-fit: contain;
  display: flex;
  flex: 1 1 0px;
  justify-content: center;
  align-items: center;
  background-color: #5a6068;
}

#main-title .sign-up-button {
  border-color: #1f2937;
}

/* Information Section */
#information {
  padding-bottom: 5vw;
}

#information h2 {
  text-align: center;
  font-size: min(6vw, 36px);
  color: #1f2937;
  margin: 1.5vw 0;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  padding: 0 10vw;
}

.info-item {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: max(10vw, 100px);
  gap: 8px;
}

.info-item img {
  width: max(10vw, 75px);
  height: max(10vw, 75px);
  border-radius: 20px;
  border: 4px solid #3882f6
}

.info-item p {
  font-size: min(2.6vw, 16px);
  text-align: center;
  color: #5a6068;
}

/* Quote Section */
#quote {
  background-color: #e5e7eb;
}

.quote-container {
  margin: 7vw 25vw;
  display: flex;
  flex-flow: column;
  gap: 10px;
}

#quote .quote-text {
  color: #1f2937;
  font-size: min(4vw, 36px);
  font-style: italic;
}

#quote .quote-author {
  color: #1f2937;
  font-size: min(3vw, 18px);
  font-weight: bold;
  text-align: end;
}

/* Call To Action Section */
#call-to-action {
  background-color: white;
  gap: 2vw;
}

#call-to-action .call-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4vw max(20vw, 100px);
  padding: 2vw 5vw;
  background-color: #3882f6;
  border-radius: 10px;
  color: #ffffff;
  font-size: min(3vw, 20px);
}

#call-to-action .sign-up-button {
  border-color: white;
}
