/* Font importing */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Common elements */
body {
  margin: 0;
}

body * {
  font-family: "Roboto", sans-serif;
}

header,
footer {
  background-color: #1f2937;
  color: #e5e7eb;
  display: flex;
  padding: 0 10vw;
}

header {
  justify-content: space-between;
  align-items: center;
}

footer {
  justify-content: center;
}

header h4 {
  font-size: min(3vw, 24px);
  color: #f9faf8;
}

header nav {
  display: flex;
  gap: 1em;
  color: #e5e7eb;
  font-size: min(2vw, 18px);
}

main {
  display: flex;
  flex-direction: column;
}

.sign-up-button {
  background-color: #3882f6;
  border-color: inherit;
  color: #ffffff;
  border-radius: 8px;
  width: min(20vw, 125px);
  height: max(1vw, 40px);
  font-weight: bold;
  font-size: 16px;
}

/* Main Section */
#main-title {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4vw 10vw;
}

#main-title * {
  margin: 0;
}

#main-title h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
}

#main-title p {
  color: #e5e7eb;
  font-size: 16px;
}

#main-title .image-container {
  width: 25vw;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5a6068;
}

#main-title .sign-up-button {
  border-color: #1f2937;
}

/* Information Section */

#information {
  padding-bottom: 1vw;
}

#information h2 {
  text-align: center;
  padding: 0.5vw 0;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.info-item {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: max(10vw, 100px);
}

.info-item img {
  width: max(10vw, 75px);
  height: max(10vw, 75px);
  border-radius: 8px;
  border: 3px solid #3882f6
}

.info-item p {
  font-size: 16px
}

/* Quote Section */
#quote {
  background-color: #e5e7eb;
}

#quote .quote-text {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
}

#quote .quote-author {
  color: #1f2937;
  font-size: 18px;
  font-weight: bold;
}

/* Call To Action Section */
#call-to-action .call-container {
  background-color: #3882f6;
  color: #ffffff;
}

#call-to-action .sign-up-button {
  border-color: white;
}
